.abaclock {
  --max-beads: 10;
  --min-beads-gap: 4;
  container-type: inline-size;
  display: grid;
  width: min(30rem, 100%);
  margin-inline: auto;
  position: relative;
  --grad: hsl(0 0% 100% / .25), hsl(0 0% 100% / .5) 25%, hsl(0 0% 0% / .5);

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 15px;
    background-color: orange;
    background-image: linear-gradient(90deg, var(--grad));
    height: 100%;
    top: 0;
    border-radius: 5px;
    z-index: 1;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  > time {
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: rgb(71, 212, 255);
    font-family: system-ui, sans-serif;
    font-weight: 700;
    z-index: 1;
  }

  > [data-beads] {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-inline: 5px;
    margin-block: 1px;

    &:first-of-type {
      margin-top: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 40% 0;
      background-color: var(--color);
      background-image: linear-gradient(var(--grad));
      z-index: -1;
    }

    > i {
      width: calc(100% / (var(--max-beads) + var(--min-beads-gap, 1)));
      aspect-ratio: 1/1.5;
      border-radius: 25%;
      transition: transform 0.5s;
      background-color: var(--color);
      background-image: linear-gradient(var(--grad));
      box-shadow: inset 0 -10px 10px hsl(0 0% 0% /.5);

      &[data-active=true] {
        transform: translateX(
          calc(-100% * (var(--max-beads) - var(--beads, var(--max-beads)) + var(--min-beads-gap, 1)))
        );
      }
    }
  }

  /* Додайте це для екранів з шириною менше 600 пікселів */
  @media only screen and (max-width: 600px) {
    > time {
      font-size: 16px;
    }
  }

 /* Додайте це для екранів з шириною менше 470 пікселів */
@media only screen and (max-width: 470px) {
  .abaclock {
    width: 300px;
    padding: 0 10px; /* Додайте внутрішній відступ для запобігання зміщенню правої панелі */
  }
  
  .abaclock > [data-beads] {
    margin-inline: 0;
    margin-block: 10px;
  }

  .abaclock > time {
    font-size: 12px;
  }
}

  /* Додайте це для екранів з шириною менше 300 пікселів */
  @media only screen and (max-width: 300px) {
    > time {
      font-size: 14px;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem;
  display: grid;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

body::after {
  content: "";
  position: fixed;
  inset: 0px;
  background-image: url("../../public/beautiful-low-angle-photo-frauenkirche-lutheran-church-dresden-germany-night-sky.jpg");
  background-size: cover;
  background-position: bottom center;
  filter: blur(1px);
  z-index: -1;
}
